{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/plotting.css' %}" type="text/css" title="no title" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/plotting_print.css' %}" type="text/css" media="print" title="no title" charset="utf-8">
  <script type="text/javascript" src="{% static 'thirdparty/d3.v3/d3.v3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plotting.js' %}"></script>
   
  <script type="text/javascript">
    var data = {{ plot_2d.data|safe }};
    var qx = {{ plot_2d.x_axis|safe }};
    var qy = {{ plot_2d.y_axis|safe }};
    var max_iq = {{ plot_2d.z_max }};
    function update_plot(send_to_server) {
      send_to_server = (typeof send_to_server === "undefined") ? true : send_to_server;
      var options = {'width': $('#plot_width').val(),
                     'height': $('#plot_height').val(),
                     'x_label': $('#x_label').val(),
                     'y_label': $('#y_label').val(),
                     'log_scale': $('#scale_log').is(':checked')};
      plot_2d(data, qx, qy, max_iq, options)
      if (send_to_server) {
        $.ajax({ url: "{% url 'updated_parameters_2d' plot_2d.id %}",
               type: "GET",
               data: options,
               dataType: 'json'
               });
      };
    }
    $(function() { $( "#radio" ).buttonset();});
    $(function() {
        $( "#refresh_button" )
          .button()
          .click(function( event ) {
             update_plot();
          });
      });
  </script>
{% endblock %}

{% block top_tool_area %} {% endblock %}

{% block content %}
  <div class='box_area'>
    <table>
      <tbody>
        <tr>
          <td>width:</td><td><input type='number' name='plot_width' id='plot_width' value='{{ plot_2d.layout.width|default:500 }}' min='50' max='2000'></td>
          <td>height:</td><td><input type='number' name='plot_height' id='plot_height' value='{{ plot_2d.layout.height|default:500 }}' min='50' max='2000'></td>
        </tr>
        <tr>
          <td>scale:</td>
          <td><div id="radio">
            <input type="radio" id="scale_log" name="radio"><label for="scale_log">log</label>
            <input type="radio" id="scale_lin" name="radio" checked="checked"><label for="scale_lin">linear</label>
          </div></td>
        </tr>
        <tr>
          <td>x-axis label:</td><td><input type='text' id='x_label' value='{{ plot_2d.layout.x_label|safe }}'/></td>
          <td>y-axis label:</td><td><input type='text' id='y_label' value='{{ plot_2d.layout.y_label|safe }}'/></td>
        </tr>
      </tbody>
    </table>
    <button id='refresh_button' class='plot_refresh' >apply</button>
    <p>
    <div> <b>Need to print?</b> Use the print functionality of your browser.</div>
  </div>
  
  {% if back_url %}
  <div class='upper_right_link' ><a href='{{ back_url }}'>go back to previous page</a></div>
  {% endif %}
  
  <plot_anchor_2d></plot_anchor_2d>
  <script>
    {% if plot_2d.layout.is_y_log %}
    $('#scale_log').prop('checked', true);
    $('#scale_lin').prop('checked', false);
    {% endif %}
    update_plot(false);
  </script>
{% endblock %}
