.tool_area { display:none; }
.box_area { display: none; }
.upper_right_link { display: none; }
.analysis_tools { display: none; }
.banner_logo { display: none; }
.banner_title { display: none; }
.user_info { display: none; }
.user_alert { display: none; }
.breadcrumbs { display: none; }
.ornlFooter { display: none; }
