.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
.x.axis path { fill: none; }

.default_1d { margin: 5px 5px 5px 5px; }

.analysis_tools { border: 0; }
.tool_area {
    border: 1px solid #aaaaaa;
    border-radius:5px;
    margin: 5px 5px;
    padding: 5px 5px;
    position: relative;
    background-color: cornsilk;
}
.tool_area table {
	cellspacing='1px';
}

.tool_area .ui-button-text-only .ui-button-text {
padding: 3px 3px;
}

.tool_area input { margin: 0 0 0 0; }
.tool_area .ui-widget {
	font-size:1em;
}

.plot_refresh { 
	padding: 1px 0;
	position: absolute;
	right: 10px;
	bottom: 10px;
}