.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
.x.axis path { fill: none; }

.default_1d { margin: 5px 5px 5px 5px; }

.analysis_tools { border: 0; }

.box_area {
    border: 1px solid #aaaaaa;
    border-radius:5px;
    margin: 5px 5px;
    padding: 5px 5px;
    position: relative;
    background-color: cornsilk;
}
.box_area table {
	cellspacing='1px';
}

.box_area .ui-button-text-only .ui-button-text {
padding: 3px 3px;
}

.box_area input { margin: 0 0 0 0; }
.box_area .ui-widget {
	font-size:1em;
}

.plot_refresh { 
	padding: 1px 0;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.upper_right_link { 
    padding: 1px 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}