{% extends "eqsans/eqsans_base.html" %}

{% block content %}
{% if not fermi_authenticated %}
<div class="fermi_notification">
You need to authenticate with the Fermi remote submission service.
Please use the form on this page.
</div>
{% endif %}
<table class="reduction_table">
  <thead>
    <tr>
      <th>Job</th><th>Name</th><th>Submitted</th><th>Data runs</th><th></th>
    </tr>
  </thead>
  <tbody>
  {% for job in status_data|dictsortreversed:"ID" %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
      <td><a href="{% url 'eqsans_job_details' job.ID %}">{{ job.ID }}</a></td>
      <td>{{ job.JobName }}</td>
      <td>{{ job.StartDate|date:"n/d H:i" }}</td><td>{{ job.Data }}</td>
      <td title='Click to remove this reduction job'><a href="{% url 'remote_stop_transaction' job.TransID %}?back_url={{ back_url }}"><span class="ui-icon ui-icon-trash"></span></a></td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
