{% extends "eqsans/eqsans_base.html" %}
{% block header %}
<script>
    function get_icat_info(run_number, element_id) {
        $.ajax({ url: "{{ icat_url }}"+run_number+"/", 
                 success: function(data) { $('#'+element_id).attr('title', data.title); },
                 dataType: "json", timeout: 1000, cache: true });
    }
    $(function() {
      $("#submit_button").button();
    });
</script>
{% endblock %}

{% block content %}
  <form action="" method="POST">{% csrf_token %}
    <div class="modifiable_title">
      <b>Configuration description</b> {{ config_form.reduction_name.errors }}{{ config_form.reduction_name }}
    </div>
    <p>
      <div>
        <table cellspacing="0" class="property_table">
          <tbody>
            <tr><td title='Enter an experiment identifier or IPTS number'><b>Experiment</b></td><td class='long_input'>{{ config_form.experiment.errors }}{{ config_form.experiment }}</td></tr>
            <tr><td title='Enter value for the overall scale factor'>{{ config_form.absolute_scale_factor.label_tag }}</td><td class='short_input'>{{ config_form.absolute_scale_factor.errors }}{{ config_form.absolute_scale_factor }}</td></tr>
            <tr><td title='Enter value for sample thickness, in cm'>{{ config_form.sample_thickness.label_tag }}</td><td class='short_input'>{{ config_form.sample_thickness.errors }}{{ config_form.sample_thickness }} [cm]</td></tr>
            <tr><td title='Enter the sample aperture diameter, in mm'>{{ config_form.sample_aperture_diameter.label_tag }}</td><td class='short_input'>{{ config_form.sample_aperture_diameter.errors }}{{ config_form.sample_aperture_diameter }} [mm]</td></tr>
            <tr><td title='Enter a run number for your dark current [optional]'>{{ config_form.dark_current_run.label_tag }}</td><td class='long_input'>{{ config_form.dark_current_run.errors }}{{ config_form.dark_current_run }}</td></tr>
            <tr><td title='Enter a sensitivity file or sensitivity run number'>{{ config_form.sensitivity_file.label_tag }}</td><td class='long_input'>{{ config_form.sensitivity_file.errors }}{{ config_form.sensitivity_file }}</td>
                <td title="Enter a minimum value for a pixel's relative signal">Min</td><td class='short_input'>{{ config_form.sensitivity_min.errors }}{{ config_form.sensitivity_min }}</td>
                <td title="Enter a maximum value for a pixel's relative signal">Max</td><td class='short_input'>{{ config_form.sensitivity_max.errors }}{{ config_form.sensitivity_max }}</td></tr>
            <tr><td title='Enter a run number for the empty transmission run'>{{ config_form.transmission_empty.label_tag }}</td><td class='long_input'>{{ config_form.transmission_empty.errors }}{{ config_form.transmission_empty }}</td></tr>
            <tr><td title='Enter a run number for the beam center calculation'>{{ config_form.direct_beam_run.label_tag }}</td><td class='long_input'>{{ config_form.direct_beam_run.errors }}{{ config_form.direct_beam_run }}</td></tr>
          </tbody>
        </table>
      {{ config_form.beam_radius }} {{ config_form.fit_frames_together }} {{ config_form.theta_dependent_correction }}
      </div>
      <hr>
      <a style='float:right' href='?extra=1'><span style='display:inline-block' class="ui-icon ui-icon-plusthick"></span> add a job</a>
      <p>
      {{ options_form.management_form }}
      <div>
        <table cellspacing="0" class="property_table">
          <thead>
            <tr>
              <td title='Enter sample scattering run number'>Sample run</td>
              <td title='Enter sample transmission scattering run'>Trans scattering</td>
              <td title='Enter background run number'>Background</td>
              <td title='Enter background transmission scattering run'>Background trans</td>
              <td title='Enter a nickname for this reduction. The nickname will be prepended to the output file names. [optional]'>Nickname</td>
            </tr>
          </thead>
          <tbody>
          {% for form in options_form %}
            <tr class='reduction_job'>
              {{ form.id }}{{ form.reduction_id }}
              <td>{{ form.data_file.errors }}{{ form.data_file }}</td>
              <td>{{ form.transmission_sample.errors }}{{ form.transmission_sample }}</td>
              <td>{{ form.background_file.errors }}{{ form.background_file }}</td>
              <td>{{ form.background_transmission_sample.errors }}{{ form.background_transmission_sample }}</td>
              <td>{{ form.nickname.errors }}{{ form.nickname }}</td>
              {% spaceless %}
              {% if form.reduction_id.value %}
              <td title='Click to remove this reduction job'><a href='{% url 'eqsans_configuration_job_delete' config_id form.reduction_id.value %}'><span class="ui-icon ui-icon-trash"></span></a></td>
              <td title='Click to view this reduction job in a new window'><a href='{% url 'eqsans_reduction' form.reduction_id.value %}' target='_blank'><span class="ui-icon ui-icon-pencil"></span></a></td>
              {% elif config_id %}
              <td title='Click to remove this reduction job'><a href='{% url 'eqsans_configuration' config_id %}'><span class="ui-icon ui-icon-trash"></span></a></td>
              {% endif %}
              {% endspaceless %}
              {% if form.reduction_id.value %}<td title='Submit this job by itself, without submitting all the other jobs'><a href="{% url 'eqsans_submit_job' form.reduction_id.value %}"><span class="ui-icon ui-icon-refresh"></span></a></td>{% endif %}
              <script id="source" language="javascript" type="text/javascript">
                {% spaceless %}
                {% if form.data_file.value %}get_icat_info('{{ form.data_file.value }}','{{ form.data_file.id_for_label }}'); {% endif %}
                {% if form.transmission_sample.value %}get_icat_info('{{ form.transmission_sample.value }}','{{ form.transmission_sample.id_for_label }}'); {% endif %}
                {% if form.background_file.value %}get_icat_info('{{ form.background_file.value }}','{{ form.background_file.id_for_label }}'); {% endif %}
                {% if form.background_transmission_sample.value %}get_icat_info('{{ form.background_transmission_sample.value }}','{{ form.background_transmission_sample.id_for_label }}'); {% endif %}
                {% endspaceless %}
              </script>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <p><input id='submit_button' type="submit" value="update"/>
  </form>

  <script id="source" language="javascript" type="text/javascript">
  $(document).ready(function() {
    {% spaceless %}
    {% if config_form.transmission_empty.value %} get_icat_info('{{ config_form.transmission_empty.value }}', '{{ config_form.transmission_empty.id_for_label }}'); {% endif %}
    {% if config_form.sensitivity_file.value %} get_icat_info('{{ config_form.sensitivity_file.value }}','{{ config_form.sensitivity_file.id_for_label }}'); {% endif %}
    {% if config_form.direct_beam_run.value %} get_icat_info('{{ config_form.direct_beam_run.value }}','{{ config_form.direct_beam_run.id_for_label }}'); {% endif %}
    {% if config_form.dark_current_run.value %} get_icat_info('{{ config_form.dark_current_run.value }}','{{ config_form.dark_current_run.id_for_label }}'); {% endif %}
    {% endspaceless %}
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });
  </script>
{% endblock %}
