{% extends "eqsans/eqsans_base.html" %}
{% load staticfiles %}

{% block content %}
    <div>Job {{ job_id }}: <b>{{ job_info.JobName }}</b></div>
    <div class='tool_area'>
      <ul>
        <li>Status: {{ job_info.JobStatus }}</li>
        <li>Start time: {{ job_info.StartDate }}</li>
        <li>End time: {{ job_info.CompletionDate }}</li>
      </ul>
    </div>
	
	<p>
    <div>Reduction</div>
    <div class='tool_area'>
      <ul>
        <li><a href=' {% url 'eqsans_reduction' remote_job.reduction.id %}'>Job details</a>: {{ remote_job.reduction }}</li>
        <li>Data: {{ parameters.data_file }}</li>
      </ul>
    </div>
  
  	<p>
    Job directory: <b>{{ job_directory }}</b>
    <div class='tool_area'>
      <ul>
      {% for file in job_files %}
        <li><a href='/remote/download/{{ trans_id }}/{{ file }}'>{{ file }}</a></li>
      {% endfor %}
      </ul>
    </div>
    
    
  {% if data %}
    <plot_anchor>
    <script type="text/javascript" src="{% static 'thirdparty/d3.v3/d3.v3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotting.js' %}"></script>
    <script>
    var data = {{ data|safe }};
    plot_1d(data);
    </script>
  {% endif %}

{% endblock %}
