{% extends "eqsans/eqsans_base.html" %}


{% block content %}
List of experiments for which you have set up reductions.
<p>
{% if experiments %}
<p>
<table class="reduction_table">
  <thead>
    <tr>
      <th>Experiment</th><th>First reduced on</th>
    </tr>
  </thead>
  <tbody>
  {% for e in experiments %}
    <tr>
        {% if e.name|length > 0 %} <td><a href="{% url 'eqsans_experiment' e.name %}" >{{ e.name }}</a></td>
        <td><div class='subtitle_black'>{{ e.created_on }}</div></td>{% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<p>

{% endblock %}

