{% extends "base.html" %}

{% block right_side_links %}
    <span style="float:right"> 
    download [<a href="download/py" title="Download python script">python</a> | 
              <a href="download/xml" title="Download Mantid xml file">xml</a>]
    </span>
{% endblock %}

{% block content %}
<h2>Mantid reduction script</h2>
Reduction name: <a href='.' title='Go back to reduction parameters'>{{ reduction_name|default:"No title set" }}</a>

<div class="reduction_code">
<pre><code>{{ code|safe }}</code></pre>
</div>

{% if errors %}
<div class="error_section">
  The submitted parameters are not valid because of the following reasons:<br>
  {{ errors }}
</div>
{% endif %}

{% endblock %}

