{% extends "eqsans/eqsans_base.html" %}


{% block content %}
<h2>List of experiments for which you have set up reductions.</h2>
<p>
{% if experiments %}
<p>
<table class="reduction_table">
  <thead>
    <tr>
      <th>Experiment</th><th>First reduced on</th>
    </tr>
  </thead>
  <tbody>
  {% for e in experiments %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <td><a href="{% url 'eqsans_experiment' e.name %}" >{{ e.name }}</a></td>
        <td><div class='subtitle_black'>{{ e.created_on }}</div></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<p>

{% endblock %}

