body {
    color:#222222;
}

.property_table {
    font-size:inherit;
    margin-left: 10px;
}

#tabs {
    font-size:12px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.modifiable_title input {
    width: 50%;
}

/* Remove LastPass form fill box */
#__lpform_id_reduction_name {
    display: none;
}

table .errorlist {
    float:right;
    font-size:75%;
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
}  

.reduction_code {
    font-size:11px;
    font-family: "Courier", Verdana, Arial, sans-serif;

    padding: 5px;
    border: 1px solid silver;
    background: #fffeee;
    overflow: auto;
}
