body {
    color:#222222;
}

.property_table {
    font-size:inherit;
    margin-left: 10px;
}

#tabs {
    font-size:12px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.modifiable_title input {
    width: 50%;
}

/* Remove LastPass form fill box */
#__lpform_id_reduction_name {
    display: none;
}

table .errorlist {
    float:right;
    font-size:75%;
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
}  

.reduction_code {
    font-size:11px;
    font-family: "Courier", Verdana, Arial, sans-serif;

    padding: 5px;
    border: 1px solid silver;
    background: #fffeee;
    overflow: auto;
}

.reduction_table {
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
}

.reduction_table thead th,
.reduction_table tbody td,
.reduction_table tfoot td {
    padding-left:5px;
    padding-right:5px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.reduction_table tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

.reduction_table thead th:first-child,
.reduction_table tbody td:first-child,
.reduction_table tfoot td:first-child {
    border-left: none !important;
}

.reduction_table fieldset table {
    border-right: 1px solid #eee;
}

.even {
    background: #f5ede3;
}

.odd {
    background: none;
}