.instrument_button {
    width:100px;
    margin:5px;
}
.analysis_tools {
    width:130px;
    position:absolute;
    right:0px;
    padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
    border: 1px solid #aaaaaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
}

.display_section {
    padding-top: 20px;
    padding-botton: 10px;
}

.tiled_area {   
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display:inline-block;
    vertical-align:top;
}
.tile {
    width:250px;
    margin: 5px;
    margin-top:0px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    overflow: hidden;
    background-color: #fafafa;
}
.tile ul {padding-left:5px; margin-top:5px; margin-bottom:5px;}
.tile li {list-style:none;}
.tile input[type=button] { margin-top:10px; }
.tile input[type=submit] { margin-top:10px; }
.tile .sub-tile {padding-bottom:15px;}

.tiled_area .wide_tile {
    width:370px;
}

.tiled_area .flexible { width: auto; }

.tool_area {
    border-top: 1px solid #aaaaaa;
    padding-top: 5px;
}
.tool_area ul {padding-left:5px; margin-top:5px; margin-bottom:5px;}
.tool_area li {list-style:none;}
.analysis_tools form {
    margin: 5px 5px 5px 5px;
}
.analysis_tools form .form_text {width:80px;}
.analysis_tools input {
    margin-top:4px;
    padding-left:2px;
}
.fermi_notification {padding:40px 40px 40px 40px; border: 1px solid silver; background: #FFEA7D; font-size:14px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.main_content {position:relative; min-height:400px;padding-left:5px;}
.center_area {
    margin-right: 150px;
    width:auto;
    min-width:695px;
    position:relative;
}

.property_table {
    font-size:inherit;
    margin-left: 10px;
}
.long_input input { width:300px; }
.short_input input { width:60px; }

#tabs {
    font-size:12px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.modifiable_title input {
    width: 50%;
}

/* Remove LastPass form fill box */
#__lpform_id_reduction_name {
    display: none;
}

.reduction_dialog dt {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight:bold;
}
.reduction_dialog dd {
    font-size: 80%;
    color:#444;
}

table .errorlist {
    float:right;
    font-size:75%;
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

.reduction_code {
    font-size:11px;
    font-family: "Courier", Verdana, Arial, sans-serif;

    padding: 5px;
    border: 1px solid silver;
    background: #fffeee;
    overflow: auto;
}

.ie .scrolling_table {
    width:950px;
    table-layout:fixed;
}
.scrolling_table { 
    overflow-x:scroll;
}
.scrolling_table thead th,
.scrolling_table tbody td,
.scrolling_table tfoot td {
    overflow-x:auto;
    max-width:130px;
}

.reduction_table {
    margin-left:20px;
    margin-right:auto;
    border-spacing: 0;
    display: block;
    min-width:685px;
}

.reduction_table thead th,
.reduction_table tbody td,
.reduction_table tfoot td {
    padding-left:5px;
    padding-right:5px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.reduction_table tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

.reduction_table thead th:first-child,
.reduction_table tbody td:first-child,
.reduction_table tfoot td:first-child {
    border-left: none !important;
}

.reduction_table fieldset table {
    border-right: 1px solid #eee;
}

.even {
    background: #f5ede3;
}

.odd {
    background: none;
}

.disabled { background: #ccc; }

.subtitle { font-size:10px; color:silver; }
.subtitle_black { font-size:10px; }

.ui-button a:link {color:#0077cc; text-decoration:none;}
.ui-button a:visited {color:#0077cc; text-decoration:none;}
.ui-button a:hover {color:#0077cc; text-decoration:underline;}
.ui-button a:active {color:#0077cc; text-decoration:none;}

.ui-state-error-text { display:-webkit-inline-box; }
.ui-state-error-text .ui-icon { margin-right: 6px; }
