{% extends "base.html" %}

{% block page_specific_tools %}
      <div class="tool_area">
        <b>Remote jobs</b><br>
        <ul>
          <li><a href="{% url 'remote_query_jobs'%}" title="See all your remote jobs">see all jobs</a></li>
          <li><a title='Click to remove this reduction job' href="{% url 'remote_stop_transaction' job_info.TransID %}?back_url={% url 'remote_query_jobs' %}">delete job</a></li>
        </ul>
      </div>
{% endblock %}

{% block content %}
{% if need_authentication %}
    <div class="fermi_notification">
      You need to authenticate with the Fermi remote submission service.
      Please use the form on this page.
    </div>
{% endif %}
    <div>Job {{ job_id }}: <b>{{ job_info.JobName }}</b></div>
    <div class='tool_area'>
      <ul>
        <li>Status: {{ job_info.JobStatus }}</li>
        <li>Start time: {{ job_info.StartDate }}</li>
        <li>End time: {{ job_info.CompletionDate }}</li>
      </ul>
    </div>

{% block analysis_view %}{% endblock %}
    Job directory: <b>{{ job_directory }}</b>
    <div class='tool_area'>
      <ul>
      {% for file in job_files %}
        <li><a href="{% url 'remote_download' trans_id file %}">{{ file }}</a></li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
